@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body {
    font-family: 'Shizuru', cursive;
}

h1 {
    color: aqua;
    font-family: 'Shizuru';
}

@font-face {
    font-family: "AachenStd-Bold";
    src: url(AachenStd-Bold.otf);
}

p {
    font-family: "AachenStd-Bold";
}