@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
body {
    font-family: "Sofia";
    background-color: #031c41;
    color: aliceblue;
    margin-top: 100px;
    margin-left: 50px;
}

p {
    text-orientation: upright;
    font-family: 'Audiowide';
}

div {
    padding: 0px;
    writing-mode: vertical-lr;
    font-size: 70px;
    font-family: Sofia;
}

.eins {
    display: inline;
    font-size: 5px;
}

.zwei {
    display: inline;
    font-size: 10px;
}

.drei {
    display: inline;
    font-size: 15px;
}

.vier {
    display: inline;
    font-size: 25px;
}

.fünf {
    display: inline-block;
    font-size: 40px;
}

.sechs {
    display: inline-block;
    padding: 20px;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.sieben {
    display: inline;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.acht {
    display: inline;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.neun {
    display: inline;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.zehn {
    display: inline;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.elf {
    display: inline;
    writing-mode: horizontal-tb;
    font-size: 25px;
}

.vertical {
    writing-mode: vertical-lr;
}

.horizontal {
    writing-mode: horizontal-tb;
}

td {
    font-size: 0px;
}

.Schrift1 {
    font-size: 5px;
}