body{color: white; font-family: Arial, Helvetica, sans-serif;margin: 20px;background-color: rgb(167, 151, 130);}
h2{font-size: size 50px;color: rgb(255, 255, 255); margin: 20px;}
h3{ width:500px; color: black;font-size: 25px;border:3px double black; padding: 5px; margin: 20px;}
h3.a{text-align: left;}
h3.b{text-align: right; margin-left: 115px;}
p{color: azure; margin: 20px; font-size: 20px;}

div {
        
        width: 550px;
        border: 15px solid rgb(202, 61, 68);
        padding: 15px;
        margin: 20px; 
        font-size: 12px;
        text-align: right;
        box-shadow: 20px 20px 50px 10px white inset;
        }

div.ex1 {
        background-color:none; border: 5px dashed rgb(202, 61, 68);}
div.ex2 {
                background-color: rgb(141, 47, 136);}