@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700|Palette Mosaic");
html,
body {
    background-color: #272727;
    color: white;
    margin: 0;
    padding: 0;
}

.zeile {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 4rem;
    font-family: 'Palette Mosaic';
    animation-name: oh;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.second {
    opacity: 0.9;
    animation-delay: 0.5s;
}

.third {
    opacity: 0.8;
    animation-duration: 1s;
}

.forth {
    opacity: 0.7;
    animation-duration: 1.5s;
}

.fifth {
    opacity: 0.6;
}

@keyframes oh {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(00px);
    }
}